#keyboard button{
  background: black;
  color : white;
  padding : 5px;
  border : 0;
  font-size: 20px;
  display: inline-block;
  width: 30px;


  
}


#keyboard button.used{
  opacity:   0.5;
  
}